.button {
    position: fixed; 
   width: 120%;
   left: 90%;
   bottom: 6.9rem;
   height: 20px;
   font-size: 2.5rem;
   z-index: 1;
   cursor: pointer;
   color:  #0a192f;
}
.button:hover {
    color: #4db5ff;
}

@media screen and (max-width: 1024px) {
    .button {
        left: 85%;
    }
}